.App {
  display: block;
  justify-content: center;
  font-family: "Arial";
}



/*-------------- NAVBAR --------------*/

.logo {
  width: 50px;
  height: 50px;
}

.logo-title {
  color: #e9ffb9;
  margin-left: 10px;
}



/*-------------- HEADER --------------*/

.main-header {
  padding: 320px 0;
  text-align: center;
  color: #fff;
  background: url("../images/book.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50%;
  position: relative;
  background-attachment: fixed;

}

.main-header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 600;
  font-size: 3rem;
}



/*-------------- SEARCH AREA --------------*/

.search-area {
  text-align: center;
  padding: 30px 15px 0;
}

.search-area .search-btn {
  margin: 0 15px;
  height: 45px;
  font-size: 1em;
  border-radius: 100%;
}

input {
  width: 300px;
  height: 45px;
  padding: 0 10px;
  font-size: 1em;
  border-radius: 25px;
}

.search-area .sort-btn {
  border-radius: 25px;
  height: 45px;
}

/*-------------- PAGINATION --------------*/

.pagination-container {
  display: inline-block;
  padding: 0 80px;
}
.pagination {
  margin: 0 20px;
  padding-top: 30px;
  overflow-wrap: break-word;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.pagination a {
  color: black;
  text-decoration: none;
  background-color: transparent; 
  padding: 8px 10px;
  margin: 2px;
  border-radius: 10px;
}
.pagination a:active {
  color: white;
}

.pagination a:focus {
  color: white;
  background-color: #578e44;
}

.pagination a:hover{
  cursor: pointer;
  transform: scale(1.3);
  color: #578e44;
  text-decoration: none;
}

.pagination a.page-nav {
  color: #578e44;
}


.pagination a.page-nav:focus {
  background-color: white;
}



/*-------------- BOOK LIST --------------*/

.list {
  padding: 15px 100px 0;
  text-align: center;
}



/*-------------- BOOK CARD --------------*/

.book-image {
  width: 100%;
  height: 23em;
}


@media(max-width: 768px) {
  .book-image {
    width: 100%;
    height: 21em;
  }
}

.bookCard-col {
  padding: 3% 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: inline-block;
}

.card-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.books_error {
  margin-top: 50px;
  color:white;
  letter-spacing: 1px;
}


/*-------------- BOOK DETAIL / MODAL / POPUP --------------*/

.infoBtn {
  margin-left: 5px;
}

.book-image-popup {
  width: 100%;
}